rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  match /system-notifications/{document} {
    allow read: if
    true
    allow write: if
    	true
    }
    match /{document=**} {
      allow read: if
          true
			allow write: if
      	false
    }
   
  }
}